baseURL: "http://lei90.com/"
title: lilei
paginate: 5
theme: PaperMod
#忽略路径大小写
disablePathToLower: true
#地址转换成绝对地址
relativeURLS: true


enableInlineShortcodes: true
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true
pygmentsUseClasses: true
defaultContentLanguage: zh
# googleAnalytics: UA-123-45

minify:
  disableXML: false
  # minifyOutput: true

languages:
  zh:
    languageName: "中文"
    languageAltTitle: 中文
    weight: 1
    profileMode:
      enabled: true
      title: 精神内耗
      imageUrl: "https://img1.baidu.com/it/u=2473556585,2024327707&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=501"
      imageTitle: 内卷 image
      # imageWidth: 120
      # imageHeight: 120
      subtitle: "☄️ Java | ☁️ Kotlin "
      # buttons:
      #   - name: 文章
      #     url: /posts
    menu:
      main:
        - name: 首页
          url: "#"
          weight: 1
        - name: 搜索
          url: search/
          weight: 12
        - name: 目录
          url: dir/
          weight: 10

outputs:
  home:
    - HTML
    - RSS
    - JSON

params:
  # 启用谷歌分析、opengraph、twitter卡和模式。
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  description: "Theme PaperMod - https://github.com/adityatelange/hugo-PaperMod"
  author: lilei
  # author: ["Me", "You"] # multiple authors

  defaultTheme: auto
  # disableThemeToggle: true
  # 共享按钮
  ShowShareButtons: false
  ShowReadingTime: true
  # disableSpecial1stPost: true
  displayFullLangName: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  #  显示复制代码按钮
  ShowCodeCopyButtons: true
  ShowRssButtonInSectionTermList: true
  #在博客文章中显示目录 (Toc)
  ShowToc: false
  #目录默认打开状态
  TocOpen: true
  # comments: false
  images: [ "papermod-cover.png" ]

  socialIcons:
    - name: github
      url: "https://github.com/lilei1990"
#    - name: KoFi
#      url: "https://ko-fi.com/adityatelange"
    - name: Rss
      url: "index.xml"
# 编辑
  # editPost:
  #   URL: "https://github.com/adityatelange/hugo-PaperMod/tree/exampleSite/content"
  #   Text: "Suggest Changes" # edit text
  #   appendFilePath: true # to append file path to Edit link

  # label:
  #     text: "Home"
  #     icon: icon.png
  #     iconHeight: 35

  # analytics:
  #     google:
  #         SiteVerificationTag: "XYZabc"

  assets:
    # 高亮显示代码
    disableHLJS: false
  #     favicon: "<link / abs url>"
  #     favicon16x16: "<link / abs url>"
  #     favicon32x32: "<link / abs url>"
  #     apple_touch_icon: "<link / abs url>"
  #     safari_pinned_tab: "<link / abs url>"

  # cover:
  #     hidden: true # hide everywhere but not in structured data
  #     hiddenInList: true # hide on list pages and home
  #     hiddenInSingle: true # hide on single page

  # fuseOpts:
  #     isCaseSensitive: false
  #     shouldSort: true
  #     location: 0
  #     distance: 1000
  #     threshold: 0.4
  #     minMatchCharLength: 0
  #     keys: ["title", "permalink", "summary", "content"]

markup:
  goldmark:
    renderer:
      unsafe: true
  highlight:
    noClasses: false
    # anchorLineNos: true
    # codeFences: true
    # guessSyntax: true
    # lineNos: true
    # style: monokai
  tableOfContents:
    endLevel: 5
    ordered: false
    startLevel: 2
privacy:
  vimeo:
    disabled: true
    simple: true

  twitter:
    disabled: true
    enableDNT: true
    simple: true

  instagram:
    disabled: false
    simple: true

  youtube:
    disabled: false
    privacyEnhanced: true

services:
  instagram:
    disableInlineCSS: true
  twitter:
    disableInlineCSS: true
